footer {
    text-align: center;
    text-decoration: none;
    background-color: #bbc2c9;

    .emotesfooter {
        color: $colorprimary;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p {
        padding: 3em;
        font-size: 1.3em;
    }

    .fa-brands {
        color: #fff;
        animation: first_color .5s ease-in-out infinite alternate;
        font-size: 6em;
    }

    .fa-brands:nth-child(2) {
        animation-name: second_color;
    }

    .fa-brands:nth-child(3) {
        animation-name: third_color;
    }

    @keyframes first_color {
        0% {
            text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #285aeb;
        }

        100% {
            text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #285aeb;
        }
    }

    @keyframes second_color {
        0% {
            text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
        }

        100% {
            text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
        }
    }

    @keyframes third_color {
        0% {
            text-shadow: 0 0 10px #000000, 0 0 20px #292929, 0 0 30px #262323;

        }

        100% {
            text-shadow: 0 0 5px #000000, 0 0 10px #292929, 0 0 15px #262323;
        }
    }

}