//  Home
header {
    font-family: 'DM Sans', sans-serif;
    
    h1 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 1em;
        font-family: 'Press Start 2P', sans-serif;
        color: black;
        background: url(../img/fondoprueba3.jpg);
        background-size: auto 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 8s linear infinite;
        display: none;
    }

    @keyframes shine {
        from {
            background-position: center 0;
        }
        to {
            background-position: center 200%;
        }
    }

    .headerimg {
       display: none; 
    }

    .headerimg2 {
        display: block;
        justify-content: center;
        width: 100%;
        height: 700px;
    }
    
    h3{
        display: none;
        color: $colorprimary;
    }
    
    .boton1 {
        display: none;
    }
    
}

/* Services */
header {

    #h1-services {
        color: black;
        font-size: 2em;
        font-family: 'Press Start 2P', sans-serif;
        margin-bottom: 0.5em;
        margin-top: 0.7em;
        text-align: left;
        margin-left: 0.4em;
        display: block;
    }

    .imgserv1{
        display: none;
    }

    .textheader-serv{
        padding: 2em 2em 2em 0.4em;
    }

}

// Empresas 

.news-container {

    .header-empresas {
        display: block;

        .titulo-main-emp{
            display: block;
        }
    
        .subtitulo-main-empresas{
            font-size: 2em;
            text-align: center;
            margin-top: 1em;
            margin-left: 0.5em;
            margin-bottom: 0.6em;
        }
    }
} 


// About 

.header-about {
    display: block;

    h1{
        display: block;
        text-align: left;
        margin-left: 0.4em;
    }

    h2{
        text-align: left;
        margin-left: 0.4em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .titulo-main{
        margin-top: 2em;
        text-align: center;
    }

    .imgau1 {
        display: block;
        height: 300px;
        width: auto;
    }

    .textoabout5 {
        display: none;
    }
}


// Contact

.header-contact{
    display: block;
    

    .titulo-main4{
        display: block;
    }

    h2{
        text-align: center;
        display: block;
    }

    .img88{
        display: none;
    }

}