//  Home
header {
    font-family: 'DM Sans', sans-serif;
    

    h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.7em;
        font-family: 'Press Start 2P', sans-serif;
        color: black;
        background: url(../img/fondoprueba3.jpg);
        background-size: auto 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 8s linear infinite;
    }

    @keyframes shine {
        from {
            background-position: center 0;
        }
        to {
            background-position: center 200%;
        }
    }

    img {
       display: none;
    }
    
    h3{
        display: none;
        color: $colorprimary;
    }
    
    .boton1 {
        display: none;
    }
    
    
}   

/* Services */
header {

    #h1-services {
        color: black;
        font-size: 2em;
        font-family: 'Press Start 2P', sans-serif;
        margin-bottom: 0.5em;
        margin-top: 0.7em;
        text-align: center;
    }

    .imgserv1{
        display: none;
    }

    .textheader-serv{
        padding: 3em;
    }

}

// Empresas 

.news-container {

    .header-empresas {
        display: block;
    
        .subtitulo-main-empresas{
            font-size: 2em;
            text-align: center;
            margin-top: 1em;
            margin-left: 0.5em;
        }
    }
} 


// About 

.header-about {
    display: block;
    h2{
        text-align: center;
        padding: 1em;
    }

    .titulo-main{
        margin-top: 2em;
        text-align: center;
    }
}


// Contact
.contact-container {
    .header-contact{
        display: block;
    }
}

