header {
    font-family: 'DM Sans', sans-serif;
    

    h1 {
        color: $colorprimary;
        font-size: 3em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.7em;
    }

    img {
       display: none;
    }
    
    h3{
        display: none;
    }
    
    .boton1 {
        display: none;
    }
   
}

    


