main {
    font-family: 'Prompt', sans-serif;

    .objetivos {
        text-align: justify;
        margin: 3em;
        
        .titulo-objetivo{
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .texto-3, .imgobjetivos {
            display: none
        }
    }

    .descripcionwd {
        @extend .objetivos;

        .titulo-wd {
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .textos-wd {
            background-color: $colorprimary;
            color: aliceblue;
            border-radius: 5px;
            padding: 10px;
            border-color: aliceblue;
            border-radius: 20px;   
        }

        #fotosdiv {
            display: none;
        }
    }

    .text-container{
        background-color: #13132b;
        color: white;
        height: 450px;
        display: flex;
        flex-direction: column;

        h2{
            padding-left: 4em;
            padding-top: 3em;
        }

        .botoncontactplanes{
            .myButton {
                box-shadow: 3px 4px 6px 1px #8a2a21;
                background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
                background-color:#c62d1f;
                border-radius:3px;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-size:19px;
                padding:10px 48px;
                text-decoration:none;
                text-shadow:-1px 1px 36px #700c04;
                font-family: 'Prompt', sans-serif;
                margin-left: 150px;
                margin-top: 5em;
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
                background-color:#f24437;
            }
            .myButton:active {
                position:relative;
                top:1px;
            }
            
        }
    }

    @mixin background-alt {
        background-color: #f9faf0;
        color: black;
    }
    
    .seo{
        @include background-alt;
        
        .imgicons{
            display: none;
        }

        .mediaicons{
            color: brown;
            padding: 1.4em;
            margin-left: 70px;
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            padding-top: 30px;
        }
    }

    .sectionbutton1{
        text-align: center;
        padding: 4em 4em 8em 4em;
        
    }


    .button4{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 3px;
        border-radius: 6px;
        border-width: 3em;
        position: relative;
        overflow: hidden;
        width: 60%;
        height: 300%;
    }

    .button4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        background: linear-gradient(115deg, #4fcf70, #fad684, #a767e5, #12bcfe, #44ce7b);
        background-size: 50% 100%;
        border-radius: inherit;
        border-width: 3em;
    }

    .button4:hover::before {
        animation: animate_border .75s linear infinite;
    }

    

    .button4 span {
        display: block;
        background-color: #000;
        padding: 13px 20px;
        border-radius: 3px;
        border-width: 3em;
        position: relative;
        z-index: 2;
    }

    @keyframes animate_border {
        to {
            transform: translateX(-50%);
        }
    }

    .enfoquesection{
        h2{
            font-family: 'Newsreader',sans-serif;
            padding: 3em 3em 0em 3em;
            text-align: center;
            font-size: 1.8em;
        }

        .textoenf1{
            padding: 1em 3em 0 3em;
        }

        .textoenf2{
            padding: 1em 3em 0em 3em;
        }
    }

    .capacidades{
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            padding: 3em;
            text-align: center;
            font-size: 1.8em;
        }
    }
  

    .contactanosmain {
        background-color: $colorprimary;
        padding: 3em;
        margin-top: 70px;

        h2 {
            color: azure;
        }
    }

    .section-empresas {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10em;
        padding-bottom: 5em;


        .imgi{
            margin-top: 20px;
            margin-left: 2px;
        }   
    }

    .cardb {
        width: 160px;
        height: 140px;
        background-color: #ffffff;
        border: 5px solid;
        border-image: linear-gradient( #0f054d, #7054ed, #1c64ff) 1;
        animation: rotate 3s ease-in infinite;
        margin-top: 1em;
        margin-bottom: 1em;

        @keyframes rotate {
            50%{
                border-image: linear-gradient(360deg, #ff3ba3, #dd2476, #1c64ff) 1;
            }
        }
    }

    .carda {
        @extend .cardb;
    }

    .h3-cartas {
        text-align: center;
        margin-bottom: 1em;
    }

    .capacitaciones-section {
        background-color: #13132b;
        text-align: center;
        height: 350px;

        span {
            width: 350px;
            color: white;
        }

        h3{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        h2{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        .myButton {
            box-shadow: 3px 4px 6px 1px #8a2a21;
            background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
            background-color:#c62d1f;
            border-radius:3px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:15px;
            padding:5px 24px;
            text-decoration:none;
            text-shadow:-1px 1px 36px #700c04;
            font-family: 'Prompt', sans-serif;
            
            margin-top: 2em;
        }
        .myButton:hover {
            background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
            background-color:#f24437;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    }

    // About 
    

    .queofrecemos{
        padding: 3em;
        
        .tituloqueofrecemos{
            margin-bottom: 0.7em;
            text-align: center;
        }

        .texto2queofrecemos{
            display: none;
        }

        .divlista1{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;
        }

        .lilista1{
            padding-top: 0.4em;
            padding-bottom: 0.4em;
        }
    }

    .sencillo{
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;

        .titulosencillo{
            margin-bottom: 0.7em;
            text-align: center;
        }
    }

    .escuchamos{
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;

        .subtituloescuchamos {
            margin-bottom: 0.3em;
            text-align: center;
        }

        .tituloescuchamos{
            margin-bottom: 0.7em;
            text-align: center;
        }

        .divlista2{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;

            .lilista2{
                padding-top: 0.4em;
                padding-bottom: 0.4em;
            }
        }
    }

    // Contact 
    .form-register{
        width: 400px;
        background: #24303c;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        border-radius: 4px;
        font-family: 'Prompt', sans-serif;
        color: white;
        box-shadow: 7px 13px 37px #000;

        h2{
            font-size: 22px;
            margin-bottom: 20px;
        }

        a{
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }

        .botons{
            width: 100%;
            background: #1f53c5;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
        }

        p{
            height: 40px;
            text-align: center;
            font-size: 18px;
            line-height: 40px;
        }
    }

    .controls{
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-size: 18px;
        color: white;
    }
    

}