main {
    font-family: 'Prompt', sans-serif;

    .intro {
        text-align: center;
        margin-bottom: 6em;
    }

    .objetivos {
        text-align: justify;
        margin: 3em;
        
        
        .titulo-objetivo{
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .texto-3, .imgobjetivos {
            display: none
        }
    }

    .descripcionwd {
        text-align: justify;
        margin: 3em;

        .titulo-wd {
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .textos-wd {
            background-color: $colorprimary;
            color: aliceblue;
            border-radius: 5px;
            padding: 10px;
            border-color: aliceblue;

            border-right-style: outset;
            border-right-width: 20px;
            border-bottom-style: outset;
            border-bottom-width: 20px;
            border-top-style: outset;
            border-top-width: 10px;
            border-left-style: outset;
            border-left-width: 10px;

           
        }

        .imgwd {
            display: none;
        }
    }

    .contactanosmain {
        background-color: $colorprimary;
        padding: 3em;
        margin-top: 70px;

        h2 {
            color: azure;
        }
    }

}