main {
    font-family: 'Prompt', sans-serif;

    .objetivos {
        text-align: justify;
        margin: 3em;
        
        
        .titulo-objetivo{
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .texto-3, .imgobjetivos {
            display: none
        }
    }

    .descripcionwd {
        @extend .objetivos;

        .titulo-wd {
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .textos-wd {
            background-color: $colorprimary;
            color: aliceblue;
            border-radius: 5px;
            padding: 10px;
            border-color: aliceblue;
            border-radius: 20px;   
        }

        #fotosdiv {
            display: none;
        }

    }

    @mixin background-alt {
        background-color: #f9faf0;
        color: #fff;
    }
    
    .seo{
        @include background-alt;
        
        .imgicons{
            display: none;
        }

        .mediaicons{
            color: brown;
            padding: 1.4em;
            margin-left: 70px;
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            margin: 30px 30px;
            padding-top: 30px;
        }
    }

    .sectionbutton1{
        text-align: center;
        padding: 4em 4em 8em 4em;
        
    }


    .button4{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 3px;
        border-radius: 6px;
        border-width: 3em;
        position: relative;
        overflow: hidden;
        width: 60%;
        height: 300%;
    }

    .button4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        background: linear-gradient(115deg, #4fcf70, #fad684, #a767e5, #12bcfe, #44ce7b);
        background-size: 50% 100%;
        border-radius: inherit;
        border-width: 3em;
    }

    .button4:hover::before {
        animation: animate_border .75s linear infinite;
    }

    

    .button4 span {
        display: block;
        background-color: #000;
        padding: 13px 20px;
        border-radius: 3px;
        border-width: 3em;
        position: relative;
        z-index: 2;
    }

    @keyframes animate_border {
        to {
            transform: translateX(-50%);
        }
    }

    .enfoquesection{
        h2{
            font-family: 'Newsreader',sans-serif;
            padding: 3em;
            text-align: center;
            font-size: 1.8em;
        }

        .textoenf1{
            padding: 1em 3em 0 3em;
        }

        .textoenf2{
            padding: 1em 3em 3em 3em;
        }
    }

    .capacidades{
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            padding: 3em;
            text-align: center;
            font-size: 1.8em;
        }
    }
  

    .contactanosmain {
        background-color: $colorprimary;
        padding: 3em;
        margin-top: 70px;

        h2 {
            color: azure;
        }
    }

}