main {
    font-family: 'Prompt', sans-serif;

    .objetivos {
        text-align: justify;
        margin: 3em;
        
        
        .titulo-objetivo{
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .texto-3, .imgobjetivos {
            display: none
        }
    }

    .descripcionwd {
        text-align: justify;
        margin: 3em;

        .titulo-wd {
            color: $colorprimary;
            text-align: center;
            font-size: 1.9em;
        }

        .textos-wd {
            background-color: $colorprimary;
            color: aliceblue;
            border-radius: 5px;
            padding: 10px;
            border-color: aliceblue;

            border-right-style: outset;
            border-right-width: 20px;
            border-bottom-style: outset;
            border-bottom-width: 20px;
            border-top-style: outset;
            border-top-width: 10px;
            border-left-style: outset;
            border-left-width: 10px;   
        }

        #fotosdiv {
            display: none;
        }

    }

    
    .seo{
        background-color: #f9faf0;

        .imgicons{
            display: none;
        }

        .mediaicons{
            color: brown;
            padding: 1.4em;
            margin-left: 70px;
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            margin: 30px 30px;
            padding-top: 30px;
        }
    }

    .enfoquesection{
        h2{
            font-family: 'Newsreader',sans-serif;
            padding: 3em;
            text-align: center;
            font-size: 1.8em;
        }

        .textoenf1{
            padding: 1em 3em 0 3em;
        }

        .textoenf2{
            padding: 1em 3em 3em 3em;
        }
    }

    .capacidades{
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            padding: 3em;
            text-align: center;
            font-size: 1.8em;
        }
    }
  

    .contactanosmain {
        background-color: $colorprimary;
        padding: 3em;
        margin-top: 70px;

        h2 {
            color: azure;
        }
    }

}