@media screen and (min-width: 420px) {
    header {
        .headerimg2{
            display: block;
        }
    }
}

@media screen and (min-width: 760px){

    /* Header MQ */

    header{
        display: grid;
        grid-template-areas: 
        "h1 img img img"
        "h3 img img img"
        "boton1 img img img";

        h1{
            display: block;
        }


        .headerimg {
            grid-area: img;
            display: block;
            width: 100%;
            height: 80%;   
        }

        .headerimg2{
            display: none;
        }

        .titulo-main {
            grid-area: h1;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 0.1em;
            font-size: 3em;
            display: block;

        }

        .subtitulo1 {
            grid-area: h3;
            font-family: 'Prompt', sans-serif;
            text-align: left;
            align-items: center;
            margin-left: 50px;
            margin-top: 50px;
            display: block;
            font-size: 1.5em;  
        }

        .imgserv1{
            display: block;
            grid-area: img2;
            width: 100%;
            margin-top: 50px;
        }

        #h1-services {
            grid-area: h1;
            color: black;
            font-size: 2em;
            font-family: 'Press Start 2P', sans-serif;
            margin-bottom: 0em;
            margin-top: 3em;
            text-align: center;
            display: block;
        }

        .textheader-serv{
            grid-area: p;
            margin-bottom: 400px;
            padding: 3em;
        }

        .headerserv {
            display: grid;
            grid-template-areas: 
            "img2 img2 h1"
            "img2 img2 p";
            margin: 0;
            padding: 0;
            background: url(../img/wavesheader.png);   
            background-size: cover;
            background-position: center;
        }  
    }

    .body-contact{
        background: none;
    }

    .header-contact{
        .titulo-main4{
            display: none;
        }

        h2{
            display: none;
        }

        .img88{
            display: block;
            
            display: block;
            justify-content: center;
            width: 100%;
            height: 100vh;
        
    
        }
    }

    .header-about {
        display: grid;
        grid-template-areas:  
        "tituloau imgau";
    
        h1{
            display: block;
            text-align: center;
            margin-left: 0.4em;
            grid-area: tituloau;
            font-size: 2em;
            margin-top: 2.5em;
        }
    
        h2{
            text-align: left;
            padding-top: 5em;
            grid-area: tituloau;
            color: $colorprimary;
            margin-left: 3em;
        }
    
        .titulo-main{
            margin-top: 2em;
            text-align: center;
        }
    
        .imgau1 {
            display: none;
            grid-area: imgau;
            padding-left: 7em;
            height: 550px;
            width: auto;
        }

        .textoabout5{
            grid-area: tituloau;
            margin-top: 40vh;
            padding: 3em;
            font-size: 1.3em;
            display: block;
        }
    }        

    .news-container {

        .header-empresas {
            display: block;
        
            .subtitulo-main-empresas{
                font-size: 2em;
                text-align: center;
                margin-top: 2em;
            }
    
            .titulo-main-emp{
                text-align: center;
                font-size: 3em;
                margin-top: 1em;
            }
        }
    }


    .contacto-main{
        display: grid;
        grid-template-areas: 
        "media form form"
        "media form form";

        .mediacontacto{
            display: flex;
            flex-direction: row;
            margin-bottom: 5em;
            grid-area: media;
            display: grid;
            grid-template-areas: "cont1"
            "cont2"
            "cont3"
            "cont4";
            
            
            .cont1{
                padding: 1em;
                text-align: center;
                grid-area: cont1;
                padding-top: 5em;
    
                .fa-headset{
                    font-size: 5em;
                    padding-bottom: 10px;
                }
                
            }
    
            .cont2{
                padding: 1em;
                text-align:center;
                grid-area: cont2;
                padding-top: 5em;

                .fa-envelope-open-text{
                    font-size: 5em;
                    padding-bottom: 10px;
                }
            }
    
            .cont3{
                padding: 1em;
                text-align: center;
                grid-area: cont3;
    
                .fa-map-location-dot{
                    font-size: 5em;
                    padding-bottom: 10px;
                }
            }
    
            .cont4{
                padding: 1em;
                text-align: center;
                grid-area: cont4;
    
                .fa-instagram{
                    font-size: 5em;
                    padding-bottom: 10px;
                }
            }
        }
    
        .form-register{
            width: 700px;
            background: #24303c;
            padding: 60px;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 4px;
            font-family: 'Prompt', sans-serif;
            color: white;
            box-shadow: 7px 13px 37px #000;
            grid-area: form;
    
            h2{
                font-size: 22px;
                margin-bottom: 20px;
            }
    
            a{
                color: white;
                text-decoration: none;
            }
    
            a:hover {
                color: white;
                text-decoration: underline;
            }
    
            .botons{
                width: 100%;
                background: #1f53c5;
                border: none;
                padding: 12px;
                color: white;
                margin: 16px 0;
                font-size: 16px;
                box-shadow: 7px 13px 37px #000;
            }
    
            p{
                height: 40px;
                text-align: center;
                font-size: 18px;
                line-height: 40px;
            }
        }
    
        .controls{
            width: 100%;
            background: #24303c;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #1f53c5;
            font-size: 18px;
            color: white;
        }    
    }    

        

    main{
        .objetivos{ 
          .titulo-objetivo{
              padding: 0em 1em 1em 2em;
              font-size: 3em;
              font-family: 'Prompt', sans-serif;
              color: $colorprimary;
              text-align: center;
              
            }

            .textosobj:hover {
                background-size: 100% 100%;
                background-position-x: left;
                color: brown;
            }

            .textosobj{
                padding: 0.3em 3em 0.3em 3em;
                text-align: center;   
            }

            .divimgobj{
                display: none;
            }


        }

       .descripcionwd{
            
            .titulo-wd{
                padding: 1em 1em 0em 1em;
                font-size: 2em;
            }

            .textos-wd{
                margin: 3em;
                padding: 2em 2em 0em 2em;
                background-color: #ffffff;
                color: black;  
            }
 
            #fotosdiv{
               display: none;
               padding: 2em 1em 2em 1em;

               img{
                   height: 500px;
                   margin-left: 100px;
               }
           }
        }

        .mainaboutus{
            h2{
                padding: 2em;
            }
        }

    .seo{
        background-color: #13132b;
        color: white;
        
        .mediaicons{
            color: white;
            padding: 1.4em;
            margin-left: 20px;
            font-size: 1em;
            
            .fa-solid, .fa-brands{
                font-size: 1em;
                margin-bottom: none;
            }
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            padding-top: 30px;    
        }
    }

    .enfoquesection{
        margin: 0;
        padding: 0;
        background: url(../img/waves7.png);   
        background-size: cover;
        background-position: center;
        font-family: sans-serif;

        h2{
            font-family: 'Newsreader',sans-serif;
            padding-bottom: 1em;
            text-align: center;
            font-size: 5em;
            padding: 3em 3em 0em 3em;
            color: black;
            
        }   

        .textoenf1{
            padding: 1em 1em 0 3em;
            text-align: center;
        }

        .textoenf2{
            padding: 1em 1em 0em 3em;
            text-align: center;
            display: block;
        }
    }

    .capacidades{
        margin-bottom: 7em;
        display: block;
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            margin-top: 10px;
            padding: 0;
            padding-bottom: 1.5em;
            padding-top: 1em;
            text-align: center;
            font-size: 5em;
            color: black;
        }

        @keyframes shine {
            from {
                background-position: center 0;
            }
            to {
                background-position: center 200%;
            }
        }  
        
        .card-text3{
            display: block;
        }
    }

    .text-container{
        background-color: #13132b;
        color: white;
        height: 250px;
        display: flex;
        flex-direction: row;

        h2{
            padding-left: 4em;
            padding-top: 3em;
        }

        .botoncontactplanes{
            .myButton {
                box-shadow: 3px 4px 6px 1px #8a2a21;
                background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
                background-color:#c62d1f;
                border-radius:3px;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-size:19px;
                padding:10px 48px;
                text-decoration:none;
                text-shadow:-1px 1px 36px #700c04;
                font-family: 'Prompt', sans-serif;
                margin-left: 150px;
                margin-top: 5em;
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
                background-color:#f24437;
            }
            .myButton:active {
                position:relative;
                top:1px;
            }
            
        }
    }

    .carda {
        width: 170px;
        height: 180px;
        background-color: #ffffff;
        border: 5px solid;
        border-radius: 20px;
        
    }

    .carda:hover{
        transform: translatex(-25px)
        translateY(-15px)
    }

    .cardb {
        @extend .carda;
    }

    .cardc {
        @extend .carda;
    }

    .carde {
        @extend .carda;
    }

    .cardf {
        @extend .carda;
    }

    .cardg {
        @extend .carda;
    }

    .cardh {
        @extend .carda
    }

    .cardi {
        @extend .carda;
    }

    .section-empresas {
        display: grid;
        grid-template-areas: 
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
        margin-left: 10em;
        padding-bottom: 10em;


        .imgi{
            margin-top: 40px;
            margin-left: 5px;
        }   
    }

    .capacitaciones-section {
        background-color: #13132b;
        text-align: center;
        height: 350px;

        span {
            width: 350px;
            color: white;
        }

        h3{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        h2{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        .myButton {
            box-shadow: 3px 4px 6px 1px #8a2a21;
            background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
            background-color:#c62d1f;
            border-radius:3px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:15px;
            padding:5px 24px;
            text-decoration:none;
            text-shadow:-1px 1px 36px #700c04;
            font-family: 'Prompt', sans-serif;
            
            margin-top: 2em;
        }
        .myButton:hover {
            background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
            background-color:#f24437;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    }
    
    .queofrecemos{
        padding: 2em;
        display: grid;
        grid-template-areas: 
        "titulo4 titulo4 titulo4"
        "textos textos textos"
        "lista3 lista3 img3";

        
        .tituloqueofrecemos{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
            grid-area: titulo4;
        }

        .texto1queofrecemos{
            padding: 1em 1em 1em 0em;
            grid-area: textos;
        }

        .texto2queofrecemos{
            display: none;
            grid-area: textos;
        }

        .divlista1{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 7px 13px 37px #000;
            grid-area: lista3;
        }

        .lilista1{
            padding-top: 0.4em;
            padding-bottom: 0.4em;
        }
        
        .divimgabout3{
            grid-area: img3;
            padding-left: 10em;
        }
    }

    .sencillo{
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;

        .titulosencillo{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
        }
    }

    .escuchamos{
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        display: grid;
        grid-template-areas:
        "subtitulo5 subtitulo5 subtitulo5" 
        "titulo5 titulo5 titulo5"
        "textos2 textos2 textos2"
        "lista5 lista5 img5";

        .subtituloescuchamos {
            margin-bottom: 0.3em;
            text-align: left;
            color: #0f054d;
            grid-area: subtitulo5;
        }

        .tituloescuchamos{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
            grid-area: titulo5;
        }
        
        .textoescuchamos{
            grid-area: textos2;
        }

        .divlista2{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 7px 13px 37px #000;
            height: 8em;
            grid-area: lista5;

            .lilista2{
                padding-top: 0.4em;
                padding-bottom: 0.4em;
            }
        }

        .divimab5{
            grid-area: img5;
            padding-left: 10em;
        }
    }
    
    
}  

@media screen and (min-width: 1080px) {
        #boton11 {
            grid-area: boton1;
            display:grid;
        }

        .subtitulo1 {
            margin-top: 1px;
        }

        .header-about{
            .imgau1{
                display: block;
            }
        }

        main{

            .descripcionwd{
                
                .textos-wd{
                    display: block;
                    grid-area: textosdiv;
                }

                #fotosdiv{
                    display: none;
                    grid-area: fotosdiv;
                    padding: 3em 3em 3em 3em;
     
                    img{
                        height: 500px;
                        margin-left: 100px;
                    }
                }
            }

            .objetivos{

                display: grid;
                grid-template-areas: 
                "titulo-obj titulo-obj titulo-obj"
                "img-obj2 img-obj2 texto-obj"
                "img-obj2 img-obj2 texto-obj";

                .titulo-objetivo{
                    padding: 0em 1em 1em 2em;
                    font-size: 3em;
                    font-family: 'Prompt', sans-serif;
                    color: $colorprimary;
                    text-align: center;
                    grid-area: titulo-obj;
                }
      
                .textosobj:hover {
                    background-size: 100% 100%;
                    background-position-x: left;
                    color: brown;
                }
      
                .textosobj{
                    padding: 2em;
                    text-align: center;
                    grid-area: texto-obj;   
                }
      
                .divimgobj{
                    display: block;
                    grid-area: img-obj2;
                }
      
      
            }    

        }    
    }


@media screen and (min-width: 1380px) {
    main{

        .descripcionwd{
            display: grid;
                
            grid-template-areas:
            "textosdiv fotosdiv"
            "textosdiv fotosdiv"
            "textosdiv fotosdiv";
                
            .textos-wd{
                display: block;
                padding: 2em;
            }

            #fotosdiv{
                display: block;
                grid-area: fotosdiv;
                padding: 3em 3em 3em 3em;
 
                img{
                    height: 500px;
                    margin-left: 100px;
                }
            }
        }

    }    
}


}