@media screen and (min-width: 420px) {
    header {
        .headerimg2{
            display: block;
        }
    }
}

@media screen and (min-width: 760px){

    /* Header MQ */

    header{
        display: grid;
        grid-template-areas: 
        "h1 img img img"
        "h3 img img img"
        "boton1 img img img";

        h1{
            display: block;
        }


        .headerimg {
            grid-area: img;
            display: block;
            width: 100%;
            height: 80%;   
        }

        .headerimg2{
            display: none;
        }

        .titulo-main {
            grid-area: h1;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 0.1em;
            font-size: 3em;
            display: block;

        }

        .subtitulo1 {
            grid-area: h3;
            font-family: 'Prompt', sans-serif;
            text-align: left;
            align-items: center;
            margin-left: 50px;
            margin-top: 50px;
            display: block;
            font-size: 1.5em;  
        }

        .imgserv1{
            display: block;
            grid-area: img2;
            width: 100%;
            margin-top: 50px;
        }

        #h1-services {
            grid-area: h1;
            color: black;
            font-size: 2em;
            font-family: 'Press Start 2P', sans-serif;
            margin-bottom: 0em;
            margin-top: 3em;
            text-align: center;
            display: block;
        }

        .textheader-serv{
            grid-area: p;
            margin-bottom: 400px;
            padding: 3em;
        }

        .headerserv {
            display: grid;
            grid-template-areas: 
            "img2 img2 h1"
            "img2 img2 p";
            margin: 0;
            padding: 0;
            background: url(../img/wavesheader.png);   
            background-size: cover;
            background-position: center;
        }  
    }

    .news-container {

        .header-empresas {
            display: block;
        
            .subtitulo-main-empresas{
                font-size: 2em;
                text-align: center;
                margin-top: 2em;
            }
    
            .titulo-main-emp{
                text-align: center;
                font-size: 3em;
                margin-top: 1em;
            }
        }
    }

        

    main{
        .objetivos{
          .titulo-objetivo{
              padding: 0em 1em 1em 2em;
              font-size: 3em;
              font-family: 'Prompt', sans-serif;
              color: $colorprimary;
              text-align: center;
              
            }

            .textosobj:hover {
                background-size: 100% 100%;
                background-position-x: left;
                color: brown;
            }

            .textosobj{
                padding: 0.3em 3em 0.3em 3em;
                text-align: center;   
            }


        }

       .descripcionwd{
            display: grid;
            grid-template-areas:
            "textosdiv fotosdiv"
            "textosdiv fotosdiv"
            "textosdiv fotosdiv";
        
            .textosdiv{
                grid-area: textosdiv;   
            }

            
            .titulo-wd{
                padding: 1em 1em 0em 1em;
                font-size: 2em;
            }

            .textos-wd{
                margin: 3em;
                padding: 2em 2em 1em 2em;
                background-color: #ffffff;
                color: black;  
            }
 
            #fotosdiv{
               display: none;
               grid-area: fotosdiv;
               padding: 2em 1em 2em 1em;

               img{
                   height: 500px;
                   margin-left: 100px;
               }
           }
        }

        .mainaboutus{
            h2{
                padding: 2em;
            }
        }

    .seo{
        background-color: #13132b;
        color: white;
        
        .mediaicons{
            color: white;
            padding: 1.4em;
            margin-left: 20px;
            font-size: 1em;
            
            .fa-solid, .fa-brands{
                font-size: 1em;
                margin-bottom: none;
            }
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            padding-top: 30px;    
        }
    }

    .enfoquesection{
        margin: 0;
        padding: 0;
        background: url(../img/waves7.png);   
        background-size: cover;
        background-position: center;
        font-family: sans-serif;

        h2{
            font-family: 'Newsreader',sans-serif;
            padding-bottom: 1em;
            text-align: center;
            font-size: 5em;
            padding: 3em 3em 0em 3em;
            color: black;
            
        }   

        .textoenf1{
            padding: 1em 1em 0 3em;
            text-align: center;
        }

        .textoenf2{
            padding: 1em 1em 0em 3em;
            text-align: center;
            display: block;
        }
    }

    .capacidades{
        margin-bottom: 7em;
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            margin-top: 10px;
            padding: 0;
            padding-bottom: 1.5em;
            padding-top: 1em;
            text-align: center;
            font-size: 5em;
            color: black;
        }

        @keyframes shine {
            from {
                background-position: center 0;
            }
            to {
                background-position: center 200%;
            }
        }   
    }

    .text-container{
        background-color: #13132b;
        color: white;
        height: 250px;
        display: flex;
        flex-direction: row;

        h2{
            padding-left: 4em;
            padding-top: 3em;
        }

        .botoncontactplanes{
            .myButton {
                box-shadow: 3px 4px 6px 1px #8a2a21;
                background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
                background-color:#c62d1f;
                border-radius:3px;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-size:19px;
                padding:10px 48px;
                text-decoration:none;
                text-shadow:-1px 1px 36px #700c04;
                font-family: 'Prompt', sans-serif;
                margin-left: 150px;
                margin-top: 5em;
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
                background-color:#f24437;
            }
            .myButton:active {
                position:relative;
                top:1px;
            }
            
        }
    }

    .carda {
        width: 170px;
        height: 180px;
        background-color: #ffffff;
        border: 5px solid;
        border-image: linear-gradient( #0f054d, #7054ed, #1c64ff) 1; 
        animation: rotate 3s ease-in infinite;
        border-radius: 20px;
        
        @keyframes rotate {
            50%{
                border-image: linear-gradient( 360deg, #ff3ba3, #dd2476, #1c64ff) 1;
            }
        }
    }

    .carda:hover{
        transform: translatex(-25px)
        translateY(-15px)
    }

    .cardb {
        @extend .carda;
    }

    .cardc {
        @extend .carda;
    }

    .carde {
        @extend .carda;
    }

    .cardf {
        @extend .carda;
    }

    .cardg {
        @extend .carda;
    }

    .cardh {
        @extend .carda
    }

    .cardi {
        @extend .carda;
    }

    .section-empresas {
        display: grid;
        grid-template-areas: 
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
        margin-left: 10em;
        padding-bottom: 10em;


        .imgi{
            margin-top: 40px;
            margin-left: 5px;
        }   
    }

    .capacitaciones-section {
        background-color: #13132b;
        text-align: center;
        height: 350px;

        span {
            width: 350px;
            color: white;
        }

        h3{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        h2{
            color: white;
            font-size: 2em;
            padding: 0.6em;
        }

        .myButton {
            box-shadow: 3px 4px 6px 1px #8a2a21;
            background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
            background-color:#c62d1f;
            border-radius:3px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:15px;
            padding:5px 24px;
            text-decoration:none;
            text-shadow:-1px 1px 36px #700c04;
            font-family: 'Prompt', sans-serif;
            
            margin-top: 2em;
        }
        .myButton:hover {
            background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
            background-color:#f24437;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    }
    
    .queofrecemos{
        padding: 2em;
        
        .tituloqueofrecemos{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
        }

        .texto1queofrecemos{
            padding: 1em 1em 1em 0em;
        }

        .texto2queofrecemos{
            display: none;
        }

        .divlista1{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 7px 13px 37px #000;
            width: 30%;
        }

        .lilista1{
            padding-top: 0.4em;
            padding-bottom: 0.4em;
        }
    }

    .sencillo{
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;

        .titulosencillo{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
        }
    }

    .escuchamos{
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;

        .subtituloescuchamos {
            margin-bottom: 0.3em;
            text-align: left;
            color: #0f054d;
        }

        .tituloescuchamos{
            margin-bottom: 0.7em;
            text-align: left;
            color: $colorprimary;
        }

        .divlista2{
            background-color: #0f054d;
            color: white;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 7px 13px 37px #000;
            width: 40%;
            height: 8em;

            .lilista2{
                padding-top: 0.4em;
                padding-bottom: 0.4em;
            }
        }
    }    
}  

@media screen and (min-width: 1080px) {
        #boton11 {
            grid-area: boton1;
            display:grid;
        }

        .subtitulo1 {
            margin-top: 1px;
        }

        main{

            .descripcionwd{
                .textos-wd{
                    display: block;
                }

                #fotosdiv{
                    display: none;
                    grid-area: fotosdiv;
                    padding: 3em 3em 3em 3em;
     
                    img{
                        height: 500px;
                        margin-left: 100px;
                    }
                }
            }

        }    
    }
}

@media screen and (min-width: 1380px) {
    main{

        .descripcionwd{
            .textos-wd{
                display: block;
            }

            #fotosdiv{
                display: block;
                grid-area: fotosdiv;
                padding: 3em 3em 3em 3em;
 
                img{
                    height: 500px;
                    margin-left: 100px;
                }
            }
        }

    }    
}


