@media screen and (min-width: 760px){

    /* Header MQ */

    header{
        display: grid;
        grid-template-areas: 
        "h1 img img img"
        "h3 img img img"
        "boton1 img img img";


        .headerimg {
            grid-area: img;
            display: block;
            width: 100%;
            height: 80%;
            
        }

        .titulo-main {
            grid-area: h1;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 0.1em;
            font-size: 3em;

        }

        .subtitulo1 {
            grid-area: h3;
            font-family: 'Prompt', sans-serif;
            text-align: left;
            align-items: center;
            margin-left: 50px;
            margin-top: 50px;
            display: block;
            font-size: 1.5em;  
        }

        .imgserv1{
            display: block;
            grid-area: img2;
            width: 100%;
            height: 110%;
            margin-top: 50px;
            padding-bottom: 200px;
        }

        #h1-services {
            grid-area: h1;
            color: black;
            font-size: 2em;
            font-family: 'Press Start 2P', sans-serif;
            margin-bottom: 0em;
            margin-top: 3em;
            text-align: center;
        }

        .textheader-serv{
            grid-area: p;
            margin-bottom: 400px;
        }

        .headerserv {
            display: grid;
            grid-template-areas: 
            "img2 img2 h1"
            "img2 img2 p";
        }
  
    }

    main{
        .objetivos{
          .titulo-objetivo{
              padding: 0em 3em 2em 3em;
              font-size: 3em;
              font-family: 'Prompt', sans-serif;
              color: #ed779c;
              
            }

            .textosobj:hover {
                background-size: 100% 100%;
                background-position-x: left;
                color: brown;
            }

            .textosobj{
                padding: 0.3em 3em 0.3em 3em;
                text-align: center;
                background-image: linear-gradient(#ced8f5, #ced8f5);
                background-repeat: no-repeat;
                background-size: 0% 100%;
                background-position-x: right;
                transition: background-size 500ms;
            }

        }

       .descripcionwd{
            display: grid;
            grid-template-areas:
            "textosdiv fotosdiv"
            "textosdiv fotosdiv"
            "textosdiv fotosdiv";
            padding: 3em;
           

            .textosdiv{
                grid-area: textosdiv;   
            }

            
            .titulo-wd{
                padding: 3em 3em 0em 3em;
                font-size: 2em;
            }

            .textos-wd{
                margin: 3em;
                padding: 3em 3em 3em 3em;
                background: rgb(231,237,237);
                background: radial-gradient(circle, rgba(231,237,237,1) 76%, rgba(36,152,226,0.9587185215883228) 132%);
                color: black;  
            }

            .texto-3wd {
                display: none;
            }
            
            #fotosdiv{
               display: none;
               grid-area: fotosdiv;
               padding: 3em 3em 3em 3em;

               img{
                   height: 500px;
                   margin-left: 100px;
               }
           }
        }

    .seo{
        background-color: #f9faf0;
        
        .mediaicons{
            color: $colorprimary;
            padding: 1.4em;
            margin-left: 20px;
            color:rgb(165, 42, 42);
            font-size: 1em;
            
            .fa-solid, .fa-brands{
                font-size: 1em;
                margin-bottom: none;
            }
        }

        .titulomedias{
            font-family: 'Lato', sans-serif;
            margin: 30px 30px;
            padding-top: 30px;    
        }
    }

    .enfoquesection{
        margin: 0;
        padding: 0;
        background: url(../img/waves5.png);   
        background-size: cover;
        background-position: center;
        font-family: sans-serif;

        h2{
            font-family: 'Newsreader',sans-serif;
            padding: 3em 3em 1.5em 3em;
            text-align: center;
            font-size: 5em;
            
        }   

        .textoenf1{
            padding: 1em 3em 0 3em;
            text-align: center;
        }

        .textoenf2{
            padding: 1em 3em 3em 3em;
            text-align: center;
        }
    }

    .capacidades{
        margin-bottom: 20em;
        .titulo-capacidades{
            font-family: 'Newsreader', sans-serif;
            padding: 3em 3em 1.5em 3em;
            text-align: center;
            font-size: 5em;
        }

        @keyframes shine {
            from {
                background-position: center 0;
            }
            to {
                background-position: center 200%;
            }
        }   
    }
    
    // .container {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    //     height: 100vh;
    // }

    // .card{
    //     width: 230px;
    //     height: 325px;
    //     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    //     position: relative;
    //     perspective: 1000px;
    //     transform: perspective(1000px) translateY(0);
    //     transform-style: preserve-3d;
    //     transition: transform $animation-speed-fast ease-in-out;
       
    //         &.dark{
    //             background-color: $dark;
    //             color: $light;

    //             .purchase-button{
    //                 border: 1px solid indianred;
    //             }
    //         }

    //         &.light{
    //             background-color: $light;
    //             color: $dark;

    //             .purchase-button{
    //                 border: 1px solid indianred;
    //             }
    //         }
    // }
    
    // .card-container{
    //     display: flex;
    // }

    // .card-wrapper{
    // }    
    //     .card-wrapper:hover{
    //         .card{
    //             transform: rotateY(179deg);
    //             z-index: 2;

    //             .text-overlay{
    //                 opacity: 0;
    //                 transform-style: preserve-3d;
    //                 z-index: 1;
    //             }

    //             .purchase-button-container{
    //                 opacity: 1;
    //             }
    //         }
    //     }
    
    // .text-overlay {
    //     transform: perspective(1000px) translateY(0) translateZ(80px);
    //     transition: transform $animation-speed-fast ease-in-out, opacity $animation-speed-slow ease;
    //     pointer-events: none;
    //     width: 100%;
    //     perspective: inherit;
    //     padding-top: 50px;
    // }
    
    // .h2{
    //     font-size: .1rem;
    //     text-align: center;
    //     font-weight: 200;
    // }

    // .price{
    //     text-align: center;
    //     font-size: 1.8rem;
    //     font-weight: 900;
    //     margin: 20px;
    // }

    // .purchase-button-container{
    //     color: indianred;
    //     position: absolute;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     left: 0;
    //     top: 0;
    //     transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
    //     opacity: 0;
    //     z-index: -1;
    //     transition: transform $animation-speed-fast ease-in-out, opacity $animation-speed-slow ease;
    //     width: 100%;
    //     height: 100%;

    //     .purchase-button{
    //         padding: 10px 40px;
    //         border-radius: 50px;
    //         font-size: 1.2rem;
    //         transition: background-color .25s ease, color .25s ease;
    //         cursor: pointer;
    //         &.light:hover{
    //             background-color: indianred;
    //             color: $light;
    //         }

    //         &.dark:hover{
    //             background-color: indianred;
    //             color: $dark;
    //         }
    //     }
    // }

    // .details-text{
    //     margin-top: 20px;
    //     display: flex;
    //     gap: 10px 10px;
    //     align-items: center;
    //     text-align: center;
    //     flex-direction: column;
    //     color: #858585;
    //     font-size: .75rem;
    // }

    // small{
    //     font-size: .75rem;
    //     font-weight: 100;
    //     color: #858585;
    // }

    // .fa-solid{
    //     font-size: 3rem;
    //     margin-bottom: 3rem;
    // }

    // .back-h2{
    //     font-size: 2rem;
    //     margin-top: 0;
    // }

        
    

    
    
}    


@media screen and (min-width: 1080px) {
        #boton11 {
            grid-area: boton1;
            display:grid;
        }

        .subtitulo1 {
            margin-top: 1px;
        }

        main{

            .descripcionwd{
                .textos-wd{
                    display: block;
                }

                #fotosdiv{
                    display: none;
                    grid-area: fotosdiv;
                    padding: 3em 3em 3em 3em;
     
                    img{
                        height: 500px;
                        margin-left: 100px;
                    }
                }
            }

        }    
    }
}

@media screen and (min-width: 1380px) {
    main{

        .descripcionwd{
            .textos-wd{
                display: block;
            }

            #fotosdiv{
                display: block;
                grid-area: fotosdiv;
                padding: 3em 3em 3em 3em;
 
                img{
                    height: 500px;
                    margin-left: 100px;
                }
            }
        }

    }    
}
    
