
@import "bootstrap/scss/bootstrap.scss";
@import "variables";
@import "grillas";
@import "mains";
@import "headers";
@import "footers";
@import "mediaq";

// Mapas

$redes: (
    twitter: #fff,
    instagram: #fff,
    github: #fff,
);

@each $red, $color in $redes {
    .red-#{$red} {
        color: $color;
        font-size: 6em;
    }
}


